/* timer */
@keyframes timer {
  0% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes scale-in {
  0% { transform: scale(0) }
  100% { transform: scale(1) }
}

@keyframes slide-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes slide-up {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes slide-left {
  0% { transform: translate3D(100%, 0, 0); }
  100% { transform: translate3D(0, 0, 0); }
}

/* fade in slide up */
@keyframes fade-in-slide-up-10 {
  0% { transform: translateY(10%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fade-in-slide-up-20 {
  0% { transform: translateY(20%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fade-in-slide-up-30 {
  0% { transform: translateY(30%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fade-in-slide-up-50 {
  0% { transform: translateY(50%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* fade in slide left */
@keyframes fade-in-slide-left-10 {
  0% { transform: translate3D(10%, 0, 0); opacity: 0; }
  100% { transform: translate3D(0, 0, 0); opacity: 1; }
}

@keyframes fade-in-slide-left-20 {
  0% { transform: translate3D(20%, 0, 0); opacity: 0; }
  100% { transform: translate3D(0, 0, 0); opacity: 1; }
}

@keyframes scaleX-in {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}