#contact-page { background: #191919; }

/* contact */
.contact { display: flex; align-items: stretch; justify-content: space-between; }
.contact #map,
.contact .location { flex: 0 0 50%; background-color: #383838; box-sizing: border-box; }
.contact #map { background: black; }
.contact .location { padding: 17rem; }
.contact .location .title-area .desc { margin-top: 1rem; color: #fff; }
.contact .location .cont { margin-top: 9rem; color: #fff; }
.contact .location .cont strong { display: block; font-size: 2rem; font-weight: normal; margin-bottom: 1.4rem; }
.contact .location .cont p + p { margin-top: 0.6rem; }

.contact .location .cont.onEnter { animation-name: fade-in-slide-up-20; animation-duration: .3s; animation-delay: .4s; }


@media only screen and (max-width: 1440px) {
  .contact .location { min-height: 75rem; padding: 10rem; }

}
@media only screen and (max-width: 1024px) {
  .contact .location { padding: 7rem; }
}
@media only screen and (max-width: 768px) {
  .contact { display: block; }
  .contact #map { height: 75rem; }
  .contact .location { min-height: inherit; padding: 10rem; }
}
@media only screen and (max-width: 425px) {
  .contact .location { padding: 6rem; }
  .contact .location .cont { margin-top: 4rem; }
}
@media only screen and (max-width: 375px) {
  .contact .location { padding: 5rem; }
}
@media only screen and (max-width: 320px) {
  .contact .location { padding: 4rem; }
}

/* media query - height */
@media only screen and (max-height: 650px) {
  
}