#who-page { background: #191919; }

/* overview */
.who-overview { padding: 10rem 0; }
.who-overview .desc { display: flex; align-items: flex-start; justify-content: space-between; margin: 6rem 0 0; font-size: 1.6rem; color: #999; line-height: 1.9; }
.who-overview .desc li { flex: 0 0 calc(50% - 4rem); }
.who-overview .info { display: flex; align-items: flex-start; justify-content: flex-start; border-top: 1px solid rgba(255,255,255, 0.4); margin-top: 10rem; padding-top: 4rem; font-size: 1.6rem; color: #999; line-height: 1.9; }
.who-overview .info li { width: fit-content; }
.who-overview .info li + li { margin-left: 5rem; }
.who-overview .info li strong { display: block; color: #ccc; font-size: 2rem; font-weight: normal; margin-bottom: 1rem; }
/* .who-overview .info li:nth-child(1) { flex: 1 0 25%; } */
.who-overview .info li:nth-child(2) { min-width: 16rem; }
.who-overview .info li:nth-child(3) { max-width: 12rem; }

/* service */
.who-service { position: relative; padding: 30rem 0; }
.who-service .inner { position: relative; z-index: 2; }
.who-service .bg { position: absolute; inset: 0; background-size: cover; background-position: center; background-repeat: no-repeat; z-index: 1; }
.svSwiper { position: relative; width: 100%; overflow: hidden; z-index: 4; touch-action: pan-y; margin-top: 3rem; padding: 5rem 10rem; }
.svSwiper .swiper-wrapper { position: relative; width: 100%; height: 100%; display: flex; z-index: 1; transition-property: transform; }
.svSwiper .swiper-slide { position: relative; width: 100%; height: 100%; text-align: center; flex-shrink: 0; transition-property: transform; display: block; transition-property: all; }
.svSwiper .swiper-slide strong,
.svSwiper .swiper-slide p { transform: translate3d(-5rem, 0, 0); opacity: 0; transition-property: transform opacity; transition-duration: .3s; }
.svSwiper .swiper-slide strong { display: block; color: #000; font-size: 2rem; }
.svSwiper .swiper-slide p { font-size: 1.4rem; color: #333; margin-top: 1rem; }

/* active */
.svSwiper.swiper-backface-hidden .swiper-slide { backface-visibility: hidden; opacity: 0 !important; transform: translateZ(0); }
.svSwiper.swiper-backface-hidden .swiper-slide-active { opacity: 1!important; }
.svSwiper .swiper-slide-active strong,
.svSwiper .swiper-slide-active p { transform: translate3d(0, 0, 0); opacity: 1; }

.svSwiper-controller button { position: absolute; top: 50%; margin-top: -2.2rem; width: 4.4rem; height: 4.4rem; font-size: 1.4rem; line-height: 1.2rem; color: #000; }
.svSwiper-controller .btn_prev { left: 0; }
.svSwiper-controller .btn_next { right: 0; }
.svSwiper-controller button i { transition: all .3s var(--ease-InOutExpo); }
.svSwiper-controller button::after { position: absolute; left: calc(50% - 1.5rem); top: calc(50% - 1px); content:''; display: block; width: 3rem; height: 2px; background: #000; transform: scaleX(0); transition: transform 0.3s var(--ease-InOutExpo); }
.svSwiper-controller button:hover::after { transform: scaleX(1); }
.svSwiper-controller button.btn_prev:hover i { transform: translate3D(-1.4rem, 0, 0); }
.svSwiper-controller button.btn_next:hover i { transform: translate3D(1.4rem, 0, 0); }


/* .slide-controller { position: fixed; left: 50%; bottom: 5rem; margin-left: 9rem; transform: translateX(calc(var(--max-width) / 2 * -1)); display: flex; align-items: center; z-index: 5; }
.slide-controller button { position: relative; width: 4.4rem; height: 4.4rem; font-size: 1rem; line-height: 1.2rem; color: #fff; border-radius: 100%; border: 1px solid rgba(255,255,255, 0.5); }
.slide-controller button + button { margin-left: 1.4rem; }
.slide-controller button i { transition: all .3s var(--ease-InOutExpo); }
.slide-controller button::after { position: absolute; left: calc(50% - 0.7rem); top: calc(50% - 0.8px); content:''; display: block; width: 1.4rem; height: 1px; background: #fff; transform: scaleX(0); transition: transform 0.3s var(--ease-InOutExpo); }
.slide-controller button:hover::after { transform: scaleX(1); }
.slide-controller button.btn_prev:hover i { transform: translate3D(-0.6rem, 0, 0); }
.slide-controller button.btn_next:hover i { transform: translate3D(0.6rem, 0, 0); } */




/* .svSwiper .swiper-button-prev,
.svSwiper .swiper-button-next { position: absolute; top: 50%; width: 4rem; height: 4rem; background:red; z-index: 10; }
.svSwiper .swiper-button-prev { left: 0; }
.svSwiper .swiper-button-next { right: 0; } */
.svSwiper .swiper-pagination { position: absolute; left: 0; bottom: 0; width: 100%; font-size: 1.6rem; color: #000; margin-top: 2rem; text-align: center; letter-spacing: 0.6rem; }


/* client */
.who-client { padding: 10rem 0; }
.who-client .list { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 8rem; }
.who-client .list li { flex: 0 0 23%; padding: 1rem 0; display: flex; align-items: center; justify-content: center; }
.who-client .list li img { max-width: 25rem; }

/* who-link */
/* .who-link {} */
.who-link ul { display: flex; align-items: center; justify-content: space-between; }
.who-link ul li { position: relative; flex: 1 1 auto; background: url(@/assets/images/who/link-bg.jpg) center no-repeat; background-size: cover; }
.who-link ul li::after { position: absolute; inset: 0; content:''; opacity: 0; transition: all .3s; background: rgba(0,0,0, 0.5); }
.who-link ul li a { position: relative; height: 23rem; display: flex; align-items: center; justify-content: center; font-size: 2.8rem; color: #fff; font-weight: 700; z-index: 2; }
.who-link ul li:hover::after { opacity: 1; }


/* animation */
/* .who-visual .bg.onEnter { animation-name: scale-in-1; animation-duration: 1s; animation-fill-mode: forwards; } */
.who-overview .info li.onEnter { animation-name: fade-in-slide-up-30; }
.who-overview .info li:nth-child(1).onEnter { animation-delay: .1s; }
.who-overview .info li:nth-child(2).onEnter { animation-delay: .2s; }
.who-overview .info li:nth-child(3).onEnter { animation-delay: .3s; }


@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {
  /* .who-visual { height: calc(var(--vh) * 0.6); } */
  .who-overview .desc { display: block; }
  .who-overview .desc li + li { margin-top: 3rem; }
  .who-overview .info { flex-wrap: wrap; }
  .who-overview .info li { flex: 1 1 45%; }
  .who-overview .info li + li { margin-left: 0; }

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {
  
}
@media only screen and (max-width: 375px) {
  
}
@media only screen and (max-width: 320px) {
  
}

/* media query - height */
@media only screen and (max-height: 650px) {
  
}