#recruit-page { background: #292929; }
#recruit-page,
#recruit-page :not(i) { font-family: 'Pretendard', 'Sans-serif', "맑은 고딕", "Malgun Gothic"; }
#recruit-page .red-dot::after { content: '.'; color: #E6363E; }

/* visual */
.recruit-visual { position: relative; height: var(--vh); overflow: hidden; }
.recruit-visual .slogan { position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; z-index: 2; }
.recruit-visual .slogan-inner { width: 100%; max-width: var(--max-width); padding: var(--inner-pad); }
.recruit-visual .slogan-inner h2 { width: 100%; max-width: 120rem; font-size: 13rem; font-weight: 700; color: rgba(255,255,255, 0.8); line-height: 1; margin: 0 auto; }
.recruit-visual .slogan-inner p { word-break: keep-all; white-space: nowrap; }
.recruit-visual .slogan-inner p span { color: #fff; }
.recruit-visual .slogan-inner p:nth-child(2) { text-align: right; }
.recruit-visual .bg { position: absolute; inset: 0; z-index: 1; }
.recruit-visual .bg .img { width: 100%; height: 100%; background-size: 77rem; background-position: top -16.5rem right -14.5rem; background-repeat: no-repeat; }

/* animation */
.recruit-visual .slogan-inner p.onEnter {  animation-delay: .3s; animation-duration: 1s; }
.recruit-visual .slogan-inner p:nth-child(1).onEnter { animation-name: fade-in-slide-right-20; }
.recruit-visual .slogan-inner p:nth-child(2).onEnter { animation-name: fade-in-slide-left-20; }
.recruit-visual .bg.onEnter { animation-name: scale-in-2; animation-duration: 1s; animation-fill-mode: forwards; }


/* recruit-leader */
.recruit .inner { display: flex; align-items: flex-start; justify-content: space-between; color: #fff; }
.recruit h3.ttl { flex: 0 0 25rem; font-size: 1.6rem; line-height: 1.1; font-weight: 700; }
.recruit h3.ttl p { padding-top: .6rem; }
.recruit h3.ttl p span { display: block; font-size: 4rem; font-weight: 700; }
.recruit h4.ttl { font-size: 2.8rem; font-weight: 700; margin-top: 10rem; }
.recruit .cont .recruit-desc { font-size: 2.3rem; color: #fff; word-break: keep-all; }

/* recruit | info */
.recruit .info { margin-top: 6rem; }
.recruit .info li { display: flex; align-items: flex-start; justify-content: space-between; border-top: 1px solid rgba(255,255,255, 0.4); padding: 3rem 0; }
.recruit .info li:first-child { border-color: #fff; }
.recruit .info .subscript { color: #ffffff80; font-size: 1.2rem; }
.recruit .info-ttl { flex: 0 0 24rem; font-size: 2.1rem; font-weight: 700; }
.recruit .info-cont { flex: 1 1 auto; }
.recruit .info-cont dt,
.recruit .info-cont dd { padding: .6rem 0; }
.recruit .info-cont dd { font-size: 1.4rem; }
.recruit .info-cont i.fa-solid { padding: 0 1.6rem; font-size: 1.2rem; }
/* first-child */
.recruit .info li:first-child .info-cont { display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
.recruit .info li:first-child .info-cont dt { flex: 0 0 9.5rem; }
.recruit .info li:first-child .info-cont dd { flex: 1 1 calc(100% - 9.5rem); }

/* recruit | part */
.recruit .part { margin-top: 2rem; }
.recruit .part-item { border-top: 1px solid rgba(255,255,255, 0.4); transition: all .3s; }
.recruit .part-item:first-child { border-color: #fff; }
/* .recruit .part-ttl { } */
.recruit .part-ttl a { display: flex; align-items: center; justify-content: space-between; padding: 2.5rem 0; }
.recruit .part-ttl a strong { flex: 0 0 25rem; font-size: 1.8rem; }
.recruit .part-ttl a span { font-weight: normal; }
.recruit .part-ttl a strong span { font-size: 1.2rem; }
.recruit .part-ttl a i { position: relative; display: block; width: 1.5rem; height: 1.5rem; margin-left: auto; }
.recruit .part-ttl a i::before,
.recruit .part-ttl a i::after { position: absolute; content:''; display: block; background: #fff; }
.recruit .part-ttl a i::before { left: 0; top: 50%; transform: translate(0, -50%); width: 100%; height: 1px; }
.recruit .part-ttl a i::after { left: 50%; top: 0; transform: translate(-50%, 0); width: 1px; height: 100%; transition: transform .3s; }
.recruit .part-item.active i::after { transform: rotate(90deg); }

.recruit .part-cont { padding: 4rem; background: rgba(0,0,0, 0.15); overflow: hidden; }
.recruit .part-cont dl + dl { padding-top: 4rem; }
.recruit .part-cont dt { font-size: 1.8rem; padding-bottom: 1.2rem; }
.recruit .part-cont dd { position: relative; padding-left: 1rem; color: rgba(255,255,255, 0.6); }
.recruit .part-cont dd + dd { margin-top: 0.4rem; }
.recruit .part-cont dd::before { position: absolute; left: 0; top: 1rem; content:''; display: block; width: 3px; height: 3px; border-radius: 3px; background: rgba(255,255,255, 0.4); }

/* talent */
.talent { margin-top: 12rem; color: #fff; }
.talent .tit-area { text-align: center; }
.talent .tit-area strong { display: block; font-size: 3rem; }
.talent .tit-area p { font-size: 1.8rem; margin-top: 0.8rem; }
.talent ul { display: flex; align-items: flex-start; justify-content: space-between; margin-top: 7rem; }
.talent ul li { flex: 0 0 33.33%; text-align: center; }
.talent ul li i { display: block; width: 12rem; margin: 0 auto; background-size: 100% auto; background-position: center; background-repeat: no-repeat;}
.talent ul li i::after { content: ''; display: block; padding-bottom: 100%; }
.talent ul li p,
.talent ul li strong { padding: 0 4rem; word-break: keep-all; }
.talent ul li strong { display: block; font-size: 1.8rem; font-weight: normal; margin-top: 1.2rem; }
.talent ul li p { padding-top: 1rem; }

.joinus { padding: 20rem 0; color: #fff; text-align: center; }
.joinus strong { display: block; font-size:7rem; font-weight: 700; }
.joinus p { font-size: 2rem; margin-top: 0.8rem; }
.joinus .email { position: relative; width: fit-content; font-size: 7.6rem; font-weight: 700; margin: 2rem auto 0; line-height: 1.2; border-bottom: 5px solid #fff; }
.joinus button { position: absolute; display: flex; align-items: center; justify-content: center; width: 7.6rem; height: 7.6rem; border-radius: 7.6rem; text-align: left; font-size: 1.4rem; background: #E6363E; opacity: 0; transition: all .3s; }
.joinus button.active { opacity: 1; }


@media only screen and (max-width: 1440px) {
  /* .recruit-visual .slogan-inner h2 { font-size: 10.8rem; } */
}
/* @media only screen and (max-width: 1300px) {
  .recruit-visual .slogan-inner h2 { font-size: 10rem; }
} */
@media only screen and (max-width: 1024px) {
  .recruit-visual .slogan-inner h2 { font-size: 7.6rem; }
}
@media only screen and (max-width: 768px) {
  .recruit-visual .slogan-inner h2 { font-size: 8.2rem; max-width: 50%; margin: initial; }
  .recruit-visual .slogan-inner p { word-break: keep-all; white-space: initial; }
  .recruit-visual .slogan-inner p:nth-child(2) { text-align: left; }
  .recruit-visual .slogan-inner p span { display: block; }
  .recruit-visual .bg .img { background-size: 60rem; background-position: top 3rem right -25rem; }

  .recruit .inner { display: block; }
  .recruit h3.ttl p span { display: inline-block; }
  .recruit h3.ttl p span + span { padding-left: 0.6rem; }
  .recruit .cont .recruit-desc { margin-top: 5rem; }
  .recruit .info li { display: block; }
  .recruit .info-cont { margin-top: 2rem; }
}
@media only screen and (max-width: 425px) {
  .recruit-visual .slogan-inner h2 { font-size: 6.3rem; max-width: 100%; }
}
@media only screen and (max-width: 375px) {
  .recruit-visual .slogan-inner h2 { font-size: 4.5rem; }
}
@media only screen and (max-width: 320px) {
  
}

/* media query - height */
@media only screen and (max-height: 650px) {
  
}