#who-page { background: #191919; }

/* overview */
.who-overview { padding: 10rem 0; }
.who-overview .desc { display: flex; align-items: flex-start; justify-content: space-between; margin: 6rem 0 0; font-size: 1.6rem; color: #999; line-height: 1.9; }
.who-overview .desc li { flex: 0 0 calc(50% - 4rem); }
.who-overview .info { display: flex; align-items: flex-start; justify-content: flex-start; border-top: 1px solid rgba(255,255,255, 0.4); margin-top: 10rem; padding-top: 4rem; font-size: 1.6rem; color: #999; line-height: 1.9; }
.who-overview .info li { width: fit-content; }
.who-overview .info li + li { margin-left: 5rem; }
.who-overview .info li strong { display: block; color: #ccc; font-size: 2rem; font-weight: normal; margin-bottom: 1rem; }
/* .who-overview .info li:nth-child(1) { flex: 1 0 25%; } */
.who-overview .info li:nth-child(2) { min-width: 16rem; }
.who-overview .info li:nth-child(3) { max-width: 12rem; }

/* service */
.who-service { position: relative; padding: 30rem 0; }
.who-service .inner { position: relative; z-index: 2; }
.who-service .bg { position: absolute; inset: 0; background-size: cover; background-position: center; background-repeat: no-repeat; z-index: 1; }
.service-Swiper { position: relative; width: 100%; overflow: hidden; z-index: 4; touch-action: pan-y; margin-top: 3rem; padding: 5rem 0; }
.service-Swiper .swiper-wrapper { position: relative; width: 100%; height: 100%; display: flex; z-index: 1; transition-property: transform; }
.service-Swiper .swiper-slide { position: relative; width: 100%; height: 100%; text-align: center; flex-shrink: 0; transition-property: transform; display: block; }
.service-Swiper .swiper-slide strong { display: block; color: #000; font-size: 2rem; }
.service-Swiper .swiper-slide p { font-size: 1.4rem; color: #333; margin-top: 1rem; }

.service-Swiper.swiper-backface-hidden .swiper-slide { backface-visibility: hidden; opacity: 0 !important; transform: translateZ(0); }
.service-Swiper.swiper-backface-hidden .swiper-slide-active { opacity: 1!important; }

.service-Swiper .swiper-button-prev,
.service-Swiper .swiper-button-next { position: absolute; top: 50%; width: 4rem; height: 4rem; background:red; z-index: 10; }
.service-Swiper .swiper-button-prev { left: 0; }
.service-Swiper .swiper-button-next { right: 0; }
.service-Swiper .swiper-pagination { position: absolute; bottom: 0; width: 100%; font-size: 1.6rem; color: #000; margin-top: 2rem; text-align: center; letter-spacing: 0.6rem; }


/* client */
.who-client { padding: 10rem 0; }
.who-client .list { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 8rem; }
.who-client .list li { flex: 0 0 23%; padding: 1rem 0; display: flex; align-items: center; justify-content: center; }
.who-client .list li img { max-width: 25rem; }

/* who-link */
/* .who-link {} */
.who-link ul { display: flex; align-items: center; justify-content: space-between; }
.who-link ul li { position: relative; flex: 1 1 auto; background: url(@/assets/images/who/link-bg.jpg) center no-repeat; background-size: cover; }
.who-link ul li::after { position: absolute; inset: 0; content:''; opacity: 0; transition: all .3s; background: rgba(0,0,0, 0.5); }
.who-link ul li a { position: relative; height: 23rem; display: flex; align-items: center; justify-content: center; font-size: 2.8rem; color: #fff; font-weight: 700; z-index: 2; }
.who-link ul li:hover::after { opacity: 1; }


/* animation */
/* .who-visual .bg.onEnter { animation-name: scale-in-1; animation-duration: 1s; animation-fill-mode: forwards; } */
.who-overview .info li.onEnter { animation-name: fade-in-slide-up-30; }
.who-overview .info li:nth-child(1).onEnter { animation-delay: .1s; }
.who-overview .info li:nth-child(2).onEnter { animation-delay: .2s; }
.who-overview .info li:nth-child(3).onEnter { animation-delay: .3s; }


@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {
  /* .who-visual { height: calc(var(--vh) * 0.6); } */
  .who-overview .desc { display: block; }
  .who-overview .desc li + li { margin-top: 3rem; }
  .who-overview .info { flex-wrap: wrap; }
  .who-overview .info li { flex: 1 1 45%; }
  .who-overview .info li + li { margin-left: 0; }

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {
  
}
@media only screen and (max-width: 375px) {
  
}
@media only screen and (max-width: 320px) {
  
}

/* media query - height */
@media only screen and (max-height: 650px) {
  
}