#who-page { background: #191919; }

/* overview */
.who-overview { padding: 10rem 0; }
.who-overview .desc { display: flex; align-items: flex-start; justify-content: space-between; margin: 6rem 0 0; font-size: 1.6rem; color: #999; line-height: 1.9; }
.who-overview .desc li { flex: 0 0 calc(50% - 4rem); }
.who-overview .info { display: flex; align-items: flex-start; justify-content: flex-start; border-top: 1px solid rgba(255,255,255, 0.4); margin-top: 10rem; padding-top: 4rem; font-size: 1.6rem; color: #999; line-height: 1.9; }
.who-overview .info li { width: fit-content; }
.who-overview .info li + li { margin-left: 5rem; }
.who-overview .info li strong { display: block; color: #ccc; font-size: 2rem; font-weight: normal; margin-bottom: 1rem; }
/* .who-overview .info li:nth-child(1) { flex: 1 0 25%; } */
.who-overview .info li:nth-child(2) { min-width: 16rem; }
.who-overview .info li:nth-child(3) { max-width: 12rem; }

/* service */
.who-service { padding: 10rem 0; }



/* client */
.who-client { padding: 10rem 0; }
.who-client .list { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 8rem; }
.who-client .list li { flex: 0 0 23%; padding: 1rem 0; display: flex; align-items: center; justify-content: center; }
.who-client .list li img { max-width: 25rem; }

/* who-link */
/* .who-link {} */
.who-link ul { display: flex; align-items: center; justify-content: space-between; }
.who-link ul li { position: relative; flex: 1 1 auto; background: url(@/assets/images/who/link-bg.jpg) center no-repeat; background-size: cover; }
.who-link ul li::after { position: absolute; inset: 0; content:''; opacity: 0; transition: all .3s; background: rgba(0,0,0, 0.5); }
.who-link ul li a { position: relative; height: 23rem; display: flex; align-items: center; justify-content: center; font-size: 2.8rem; color: #fff; font-weight: 700; z-index: 2; }
.who-link ul li:hover::after { opacity: 1; }


/* animation */
/* .who-visual .bg.onEnter { animation-name: scale-in-1; animation-duration: 1s; animation-fill-mode: forwards; } */
.who-overview .info li.onEnter { animation-name: fade-in-slide-up-30; }
.who-overview .info li:nth-child(1).onEnter { animation-delay: .1s; }
.who-overview .info li:nth-child(2).onEnter { animation-delay: .2s; }
.who-overview .info li:nth-child(3).onEnter { animation-delay: .3s; }


@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {
  /* .who-visual { height: calc(var(--vh) * 0.6); } */
  .who-overview .desc { display: block; }
  .who-overview .desc li + li { margin-top: 3rem; }
  .who-overview .info { flex-wrap: wrap; }
  .who-overview .info li { flex: 1 1 45%; }
  .who-overview .info li + li { margin-left: 0; }

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {
  
}
@media only screen and (max-width: 375px) {
  
}
@media only screen and (max-width: 320px) {
  
}

/* media query - height */
@media only screen and (max-height: 650px) {
  
}