#work-page { background: #191919; }





/* .who-visual { position: relative; height: calc(var(--vh) * 0.8); }
.who-visual .slogan { position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; z-index: 2; }
.who-visual .slogan-inner { width: 100%; max-width: var(--max-width); padding: var(--inner-pad); }
.who-visual .slogan .title-area .desc { width: 60%; max-width: 46rem; }
.who-visual .bg { position: absolute; inset: 0; background: url(@/assets/images/who/visual.jpg) center no-repeat; background-size: cover; }
.who-visual .bg::before { position: absolute; inset: 0; content:''; background: rgba(0,0,0, 0.4); } */


@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {
  
}
@media only screen and (max-width: 375px) {
  
}
@media only screen and (max-width: 320px) {
  
}

/* media query - height */
@media only screen and (max-height: 650px) {
  
}