/* layout */
.wrap { position:relative; }
header { height: 5.8rem; display: flex; align-items: center; justify-content: space-between; padding: 1rem 2rem; border-bottom: 1px solid #eee; }
header h1 { font-size: 2rem; margin-right: auto; }
header nav { display:flex; align-items: center; }
header nav ul { display: flex; align-items: center; font-size: 1.2rem; margin-right: -1rem; }
header nav a { padding: .6rem 1rem; }

header nav .username { font-size: 1.2rem; }
header nav .username strong { color: var(--color-point); }
header nav .username + ul { margin-left: 1rem; }

footer { text-align: center; font-size: 1.2rem; color: #888; padding: 2rem 2rem 4rem; }


.container { position:relative; max-width: 45rem; margin: 0 auto; padding-top: 6rem; overflow:hidden; }
.container.wide { max-width: 76.8rem; }

.pageTit { text-align: center; }
.pageTit h2 { font-size: 3rem; }

.content { padding: 3rem 2rem; }

/* form */
.form-group + .form-group { margin-top: 2.6rem; }

/* form | label */
.form-group .label { display: block; font-size: 1.4rem; color: #444; margin-bottom: 0.6rem; }

/* form | input | textarea */
.input { width: 100%; height: 5.2rem; font-size: 1.6rem; padding: 1.2rem 1.6rem; border-radius: 0.8rem; border:1px solid #dfdfdf; box-shadow: 0 2px 3px rgba(0,0,0,0.07); background: #fff; transition: all .3s; }
.textarea { width: 100%; height: 15rem; font-size: 1.6rem; padding: 1.2rem 1.6rem; border-radius: 0.8rem; border:1px solid #dfdfdf; box-shadow: 0 2px 3px rgba(0,0,0,0.07); background: #fff; resize: none; transition: all .3s; }
.input:focus,
.textarea:focus { outline: none; border-color: #444; }

/* form | input-item */
.input-item { position: relative; }
.input-item .label { position: absolute; left: 0; top: 0; padding-left: 1.6rem; }
.input-item .input.hasValid { padding-right: 5rem; border-color:#444; }

.input-item .btn-clear { position: absolute; right: 0.6rem; top: 50%; width: 4rem; height: 4rem; display: flex; align-items: center; justify-content: center; font-size: 2rem; color: #ccc; transform: translateY(-50%); }

.input-item .textarea.hasValid { padding-right: 5rem; border-color:#444; }
.input-item .textarea + .btn-clear { top: unset; transform: unset; bottom: 1rem; }

/* form valid */
.form-valid { font-size: 1.3rem; margin-top: 1rem; text-indent: -1.2rem; padding-left: 1.2rem; }
.form-valid::before { content: '✱ '; }
.form-valid + .form-valid { margin-top: 0; }
.form-valid.danger { color: var(--color-danger); }


/* btn-area */
.form-area + .btn-area { margin-top: 3rem; }
/* .btn-area {} */
.btn-group.col { display: flex; align-items: center; justify-content: space-between; }
.btn-group + .btn-group { margin-top: 1rem; }
.btn-group.col > * + * { margin-left: 1rem; }
.btn-group.col > * { flex: 1 1 auto; }
.btn-group:not(.col) > * + * { margin-top: 1rem; }

/* btn */
.btn { width: 100%; height: 5.8rem; font-size: 1.6rem; background: var(--button-bg); color: var(--button-color); border-radius: 0.8rem; transition: all .3s; }
.btn[disabled] { background: var(--button-disabled); color: var(--button-disabled-color); }

.btn.secondery { border: 1px solid var(--color-point); background: #fff; color: var(--color-point); }

.btn-create { position: fixed; right: 2.6rem; bottom: 2.6rem; display: flex; align-items: center; justify-content: center; width: 5.8rem; height: 5.8rem; border-radius: 4rem; background: var(--color-point); color: #fff; font-size: 2.6rem; box-shadow: 2px 5px 10px rgba(0,0,0, 0.3); }
.btn-create:hover { color: #fff; }
.btn-create { --ionicon-stroke-width: 5.4rem; }


/* post */
.post-move,
.post-enter-active,
.post-leave-active { transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1); }
.post-enter-from,
.post-leave-to { opacity: 0; transform: scaleY(0.01) translate(30px, 0); }
.post-leave-active { position: absolute; }

.post-item + .post-item { margin-top: 1.4rem; }
.post-item { position: relative; line-height: 1.6; padding: 2.2rem 2.4rem; border-radius: 0.8rem; border: 1px solid #ddd; transition: all .3s; }
.post-item:hover { border-color: #000; }
.post-title { font-size: 1.8rem; font-weight: 700; }
.post-cont { min-height: 5rem; margin: 1rem 0 0; }
.post-time { font-size: 1.2rem; color: #888; margin: 2rem 0 0; }
.post-func { position: absolute; right: 2rem; bottom: 1.5rem; display: flex; align-items: center; }
.post-func button { height: 3rem; line-height: 3rem; padding:0 0.5rem; font-size: 1.2rem; color: #999; transition: all .3s; }
.post-func button:hover { color: var(--color-point); }


/* logMessage */
.logMessage { padding: 4rem 0; }
.logMessage p { text-align: center; color: #888; }